/dev/ttyACM0
/home/carlos/Dropbox/Pendulum/workspace/0_controller/Debug/pic30.elf
/dev/ttyACM1
/home/carlos/Dropbox/Pendulum/workspace/1_actuator/Debug/pic30.elf
/dev/ttyACM1
/home/carlos/Dropbox/Pendulum/workspace/2_sensorROD/Debug/pic30.elf
/dev/ttyACM1
/home/carlos/Dropbox/Pendulum/workspace/3_sensorCAR/Debug/pic30.elf
/dev/ttyACM1
/home/carlos/Dropbox/Pendulum/workspace/LAB4observer/Debug/pic30.elf
